{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "tailwindStylesheet": "./app/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
